article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// setup


$display: 'montserrat';
$copy: 'raleway';
$icon: 'fontAwesome';
$white: #ffffff;
$black: #000000;

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


body{
	background: $black;
	color: $white;
	font-size: 62.5%;

}

body,
html{
	overflow-y: hidden;
}

// MAIN STYLES START

h1{
	text-transform: uppercase;
	padding: 1px;
	font-size: 1.3em;
	letter-spacing: 5px;
	border: 4px solid $white;
	display: inline-block;
	padding: 13px;
	font-family: $display;
	@include transition(all 0.5s ease);

	&:hover{
		background: $white;
		color: $black;
	}
}

h2{
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
	font-size: 3.0em;
	letter-spacing: 15.1px;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 200px;
	opacity: 1;
	-webkit-animation: letterSpace 3s linear; 
	 -moz-animation:    letterSpace 3s linear;
	 -o-animation:      letterSpace 3s linear; 
	 animation:         letterSpace 3s linear;

	@keyframes letterSpace {
	  0% {
	    letter-spacing: 10px;
	  }
	  100% {
	    letter-spacing: 15.1px;
	  }
	}
}

p{
	font-family: $copy;
	opacity: 0.8;
}

.logo--container{
	width: 80%;
	float: left;
	padding: 20px;
}

.menu--trigger{
	float: left;
	width: 20%;
	font-family: $copy;
	padding: 20px;
	position: relative;
	top: 20px;
	right: 20px;
	z-index: 9;

	&:hover{
		cursor: pointer;
	}

	span{
		border-bottom: 1px solid grey;
		width: 30px;
		display: block;
		position: absolute;
		right: 20px;
		-webkit-transform: rotate(0deg);
		 -moz-transform: rotate(0deg);
		 -o-transform: rotate(0deg);
		 transform: rotate(0deg);
		 -webkit-transition: .25s ease-in-out;
		 -moz-transition: .25s ease-in-out;
		 -o-transition: .25s ease-in-out;
		 transition: .25s ease-in-out;
		 opacity: 1;
	}

	.menu-line1{
		top: 10px;
	}

	.menu-line2{
		top: 20px;
	}

	.menu-line3{
		top: 30px;
	}
}


.content--main{
	clear: both;
	z-index: 4; 
	.inner{
		height: 100vh;
		background-image: url(../i/mount-black.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom 300px;
	}

	p{
		font-weight: 100;
		text-align: center;
		text-transform: uppercase;
	}
}


		/* =============================================================================
			MENU STYLES STA
		                   
		   ========================================================================== */


.menu-overlay--container {
	background: $white;
	color: $black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: url(../i/mount-white.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 300px; 
	overflow: hidden;
	@include transition(all 0.5s ease);
	opacity: 0;
	display: block;

	.header{
		.logo--container{ 
			width: 80%;
			float: left;

			h1 {
				border: 4px solid $black;
				@include transition(all 0.5s ease);

				&:hover{
					background-color: $black;
					color: $white;
				}
			}
		}

		.menu--trigger02 {
			float: right;
			width: 20%;

			p span {
				float: right;
			}
		}
	}

	.content--main {
		padding-top: 200px;
		a {
			text-align: center;
			display: block;
			text-decoration: none;
			letter-spacing: 10px;
			font-size: 1.3em;
			text-transform: uppercase;
			color: $black;
			margin-top: 10px;
			opacity: 0.6;
			@include transition(all 0.5s ease);

			&:hover{
				opacity: 0.9;
			}
		}

		h3 {
			text-transform: uppercase;
			letter-spacing: 5px;
			text-align: center;
			font-size: 3.0em;
			letter-spacing: 10px;
			padding-bottom: 0;
			margin-bottom: 0;
			margin-top: 40px;
		}

		.social-media--container {
			width: 30%;
			margin: 0 auto;
			padding: 20px 0;

			a {
				display: inline-block;
				float: left;
				width: 33.33%;
				text-align: center;
				font-family: $icon;
				font-size: 1.8em;
				opacity: 0.8;
				@include transition(all 0.5s ease);

				&:hover {
					opacity: 0.7;
				}
			}

			.fa-instagram {
				text-align: right;
			}

			.fa-twitter {
				text-align: left;
			}
		}
	}
}



// HELPER CLASSES


.hide {
	opacity: 0;
}

.show {
	opacity: 1;
}

.transparent {
	opacity: 0;
}

.menu-overlay--container.show {
	opacity: 1;
	z-index: 5;
}

.menu-line2.transparent {
	opacity: 0;
}

.menu-line1.rotate {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	top: 20px;

}

.menu-line3.rotate {
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	top:20px;
	
}



.content--main{

	p{
		margin-left: -17px;
		.sub-header{
			padding: 0 5px;
	
		}
		 span {
		    span {
		    	padding: 0 7.8px;
		    	opacity: 0;

		    	&:nth-child(1){ 
		    	opacity: 0;
				-webkit-animation: fadeIn 2s linear; 
				 -moz-animation: fadeIn 2s linear; 
				 -o-animation: fadeIn 2s linear; 
				 animation: fadeIn 2s linear;
				 -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
				    -moz-animation-fill-mode:forwards; /*FF 5+*/
				    -o-animation-fill-mode:forwards; /*Not implemented yet*/
				    -ms-animation-fill-mode:forwards; /*IE 10+*/
				    animation-fill-mode:forwards;
				     -webkit-animation-delay: 200ms;
				    animation-delay: 200ms;
				
				@keyframes fadeIn {
				    from {
				          opacity:0;
				      }
				      to {
				          opacity:1;
				      }
					}	
				}

				// END: span1

				&:nth-child(2) {
				opacity: 0;
			 	-webkit-animation: fadeIn 2s linear; 
				-moz-animation: fadeIn 2s linear; 
				-o-animation: fadeIn 2s linear; 
				animation: fadeIn 2s linear;
				-webkit-animation-fill-mode:forwards; 
				-moz-animation-fill-mode:forwards;
				-ms-animation-fill-mode:forwards; 
				animation-fill-mode:forwards;
				-webkit-animation-delay: 1200ms;
				animation-delay: 1200ms;

				@keyframes fadeIn {
				    from {
				          opacity:0;
				      }
				      to {
				          opacity:1;
				      }
					}	
				}
				// END: span2

				&:nth-child(3) {
				opacity: 0;
			 	-webkit-animation: fadeIn 2s linear; 
				-moz-animation: fadeIn 2s linear; 
				-o-animation: fadeIn 2s linear; 
				animation: fadeIn 2s linear;
				-webkit-animation-fill-mode:forwards; 
				-moz-animation-fill-mode:forwards;
				-ms-animation-fill-mode:forwards; 
				animation-fill-mode:forwards;
				-webkit-animation-delay: 800ms;
				animation-delay: 800ms;

				@keyframes fadeIn {
				    from {
				          opacity:0;
				      }
				      to {
				          opacity:1;
				      }
					}	
				}
				// END: span3

				&:nth-child(4) {
				opacity: 0;
			 	-webkit-animation: fadeIn 2s linear; 
				-moz-animation: fadeIn 2s linear; 
				-o-animation: fadeIn 2s linear; 
				animation: fadeIn 2s linear;
				-webkit-animation-fill-mode:forwards; 
				-moz-animation-fill-mode:forwards;
				-ms-animation-fill-mode:forwards; 
				animation-fill-mode:forwards;
				-webkit-animation-delay: 300ms;
				animation-delay: 300ms;

				@keyframes fadeIn {
				    from {
				          opacity:0;
				      }
				      to {
				          opacity:1;
				      }
					}	
				}
				// END: span4

				&:nth-child(5) {
				opacity: 0;
			 	-webkit-animation: fadeIn 2s linear; 
				-moz-animation: fadeIn 2s linear; 
				-o-animation: fadeIn 2s linear; 
				animation: fadeIn 2s linear;
				-webkit-animation-fill-mode:forwards; 
				-moz-animation-fill-mode:forwards;
				-ms-animation-fill-mode:forwards; 
				animation-fill-mode:forwards;
				-webkit-animation-delay: 700ms;
				animation-delay: 700ms;

				@keyframes fadeIn {
				    from {
				          opacity:0;
				      }
				      to {
				          opacity:1;
				      }
					}	
				}
				// END: span5

				&:nth-child(6) {
				opacity: 0;
			 	-webkit-animation: fadeIn 2s linear; 
				-moz-animation: fadeIn 2s linear; 
				-o-animation: fadeIn 2s linear; 
				animation: fadeIn 2s linear;
				-webkit-animation-fill-mode:forwards; 
				-moz-animation-fill-mode:forwards;
				-ms-animation-fill-mode:forwards; 
				animation-fill-mode:forwards;
				-webkit-animation-delay: 600ms;
				animation-delay: 600ms;

				@keyframes fadeIn {
				    from {
				          opacity:0;
				      }
				      to {
				          opacity:1;
				      }
					}	
				}
				// END: span6

				&:nth-child(7) {
				opacity: 0;
			 	-webkit-animation: fadeIn 2s linear; 
				-moz-animation: fadeIn 2s linear; 
				-o-animation: fadeIn 2s linear; 
				animation: fadeIn 2s linear;
				-webkit-animation-fill-mode:forwards; 
				-moz-animation-fill-mode:forwards;
				-ms-animation-fill-mode:forwards; 
				animation-fill-mode:forwards;
				-webkit-animation-delay: 400ms;
				animation-delay: 400ms;

				@keyframes fadeIn {
				    from {
				          opacity:0;
				      }
				      to {
				          opacity:1;
				      }
					}	
				}
				// END: span7

				&:nth-child(8) {
				opacity: 0;
			 	-webkit-animation: fadeIn 2s linear; 
				-moz-animation: fadeIn 2s linear; 
				-o-animation: fadeIn 2s linear; 
				animation: fadeIn 2s linear;
				-webkit-animation-fill-mode:forwards; 
				-moz-animation-fill-mode:forwards;
				-ms-animation-fill-mode:forwards; 
				animation-fill-mode:forwards;
				-webkit-animation-delay: 900ms;
				animation-delay: 900ms;

				@keyframes fadeIn {
				    from {
				          opacity:0;
				      }
				      to {
				          opacity:1;
				      }
					}	
				}
				// END: span8

				&:nth-child(9) {
				opacity: 0;
			 	-webkit-animation: fadeIn 2s linear; 
				-moz-animation: fadeIn 2s linear; 
				-o-animation: fadeIn 2s linear; 
				animation: fadeIn 2s linear;
				-webkit-animation-fill-mode:forwards; 
				-moz-animation-fill-mode:forwards;
				-ms-animation-fill-mode:forwards; 
				animation-fill-mode:forwards;
				-webkit-animation-delay: 700ms;
				animation-delay: 700ms;

				@keyframes fadeIn {
				    from {
				          opacity:0;
				      }
				      to {
				          opacity:1;
				      }
					}	
				}
				// END: span9

				&:nth-child(7) {
				opacity: 0;
			 	-webkit-animation: fadeIn 2s linear; 
				-moz-animation: fadeIn 2s linear; 
				-o-animation: fadeIn 2s linear; 
				animation: fadeIn 2s linear;
				-webkit-animation-fill-mode:forwards; 
				-moz-animation-fill-mode:forwards;
				-ms-animation-fill-mode:forwards; 
				animation-fill-mode:forwards;
				-webkit-animation-delay: 50ms;
				animation-delay: 50ms;

				@keyframes fadeIn {
				    from {
				          opacity:0;
				      }
				      to {
				          opacity:1;
				      }
					}	
				}
				// END: span10
			}	
		}
	}

}



